Source: com.github.Alterae.gtk-app-template
Section: x11
Priority: optional
Maintainer: Michelle S. <your@email.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.Alterae.gtk-app-template
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hey young world
 This is a GTK app template written in Vala using Meson build system.
